<div class='container'>
  <p style="color: green"><%= notice %></p>
  <table class='users'>
    <tr>
      <th></th>
      <th><%=t('user')%></th>
      <th><%=t('rating')%></th>
      <th><%=t('number_of_comments')%></th>
      <th><%=t('number_of_writings')%></th>
      <th><%=t('created_at')%></th>

    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to image_tag(user.avatar,class: 'rounded-circle', style:'width:100px'), user_url(user) %></td>
      <td><%= user.username %></td>
      <td><%= user.rating %></td>
      <td><%= number_of_comments(user) %></td>
      <td><%= user.writings.count %></td>
      <td><%=user.created_at.strftime('%d-%m-%Y')%>
    </tr>
    <% end %>
  </table>
</div>
